body {
	background-image: url(../images/snack_pattern.jpg);
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-family: 'Pacifico', cursive;
	margin-bottom: 40px;
}

.jumbotron {
	background: none;
}

.food-button {
	margin: 5px;
}